*~

# Eclipse output
bin/

# Eclipse personal settings
.settings/

# ant output
tests/build
tests/lib
lib/

# Analysis
Analysis/
# do-like-javac output
dljc-out/

# example project bin files
FooProject/bin

# case study output
case-study/apache-tomee/tomee
